<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508984845471-k3v10t1mj83iqkpmdo91qm9o64bh8il2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508984845471-k3v10t1mj83iqkpmdo91qm9o64bh8il2</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ0LE-IAqQ_-X7nBx_tZ1X66Js0I7fY5M</string>
	<key>GCM_SENDER_ID</key>
	<string>508984845471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blossomclinic.app</string>
	<key>PROJECT_ID</key>
	<string>blossom-a0b48</string>
	<key>STORAGE_BUCKET</key>
	<string>blossom-a0b48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508984845471:ios:7c0a70568e97772429aeaa</string>
</dict>
</plist>